@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

.a_BodyEdit{
    height: 100%;
    background-color: rgb(215,20,36) !important;
}

#root{
    height: 100%;
    /*background-color: rgb(215,20,36);*/
}

html{
    height: 100%!important;
}

body{
    height: 100%!important;
}

.a_InfoUser{
    width: 330px;
    margin: auto;
    display: flow-root;
    padding-top: 50px;
    height: fit-content;
    position: relative;
    border-bottom: 1px solid white;

}

.a_FotoUser{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    float: left;
    position: relative;
    margin-left: 85px;
    margin-bottom: 10px;
    /*background-image: url("../images/edituserteste.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a_NomeUser{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    position: relative;
    left: 20px;
    top: 18px;
}



.a_CloseEdit{
    width: 18px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 15px;
    background-image: url("../images/closewhite.svg");
    background-size: contain;
    background-position: center;
    border: none!important;
    background: transparent!important;
    outline: none;
}

.a_CloseEdit:focus{
    outline: none;
    border: none;
}

.a_CloseEdit:active{
    outline: none;
    border: none;
}

.a_CloseEdit::-moz-focus-inner{
    outline: none;
    border: none;
}

.a_TextoEdit{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 300px;
    padding-top: 35px;
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}


.a_EditSair{
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    border-top: 1px solid white;
    position: absolute;
    padding: 20px;
    bottom: 0;
    padding-top: 25px;
}

.a_BtnLogout{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    margin: auto;
    display: block;
}



.a_DivSave{
    position: fixed;
    background:white;
    height: 100px;
    width: 250px;
    z-index: 99;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    color:rgb(150,150,150);
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    display: none;
    padding-top: 22px!important;
}