.a_notfoundview{
   text-align: center;
   padding-top: 150px;
}

.a_LogoNotFound{
    height: 150px;
}

.a_TitleNot{
    padding-top: 20px;
}

.a_DescriptionNot{
    padding: 0 40px 60px 40px;
}

.a_notfoundview_link{
    color: #D71424 !important;
    text-decoration: underline !important;
}